* {
    box-sizing: border-box;
    /* font-style: sans-serif; */
}

body {
    background-color: #4ABDAC;
    /*font-family: sans-serif; */
}

main {
    margin: auto 0px;
    text-align: center;
}

/*Page Header*/
header {
    text-align: center;
}

header img {
    width: 200px;
}


/*Headers*/

h1, h2 {
    color: #D4DCE3;
}

.showfields {
    font-size: 1.1em;
    color: #ecf5fc;
    font-weight: 900;
}


/*Form*/

.logo {
    width: 150px;
    margin-right: 20px;
}

form {
    display: inline-block;
    margin-top: 50px;
    background-color: #FC4A1
}

.userinput {
    width: 300px;
    height: 50px;
    font-size: 30px;
    display: block;
    margin: 0px auto;
    font-family: sans-serif;
}

.submit {
    background-color: #FC4A1A;
    color: #D3DCE3;
    margin-top: 8px;
}

/*Results*/

/*Artist Bio*/

h2 {
    text-align: center;
    margin-top: 10px;
}

.artistinfoswitch.showfields > h2 {
    margin-top: 10px;
}

.artistinfo p {
    color: #D4DCE3;
    font-size: 1.2em;
    text-align: left;
    margin-top: 10px;
    width: 70%;
    margin: auto;
}

/*Album List*/

.albums {
    width: 100%;
    /* display: inline-block; */
    border: 5px solid #FC4A1A;
    margin-top: 50px;
    background-color: #FC4A1A;
    padding: 20px;
    
}

.albumsection h3:hover {
    background-color: #4ABDAC;
}

.searchresults {
    background-color: #4ABDAC;

}

.album1, .album2, .album3 {
    padding: 0px 10px 0px 10px;
    margin: auto;
    /* display: inline-block; */
}

.albums h2 {
    text-align: center;
}

.albums h3, h4 {
    color: #D4DCE3;
}

img {
    width: 400px;
}

.album1 .ytlabel {
    color: #4ABDAC;
}

.arrow-down, .arrow-down2 {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #D4DCE3;
    display: inline-block;
    margin-left: 10px;
}
.rotated {
    transform: rotate(-90deg);
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #D4DCE3;
    display: inline-block;
    margin-left: 10px;
}

.rotated2 {
    transform: rotate(90deg);
}


/*YouTube Search*/

.youtube-search {
    background-color: #FC4A1A;
}

.searchresults {
    display: none;
}

/*Footer*/

footer {
    background-color: #fff;
    color: #222;
    position: absolute;
    width: 100%;
}

footer h2 {
    color: #222;
}

footer a {
    color: #222;
}



footer a:hover {
    color: #D3DCE3;
    text-decoration: underline;
}


/*Hidden*/

.hidden {
    display: none;
}

.minimize {
    height: 200px;
}

@media screen and (max-width: 1000px) {
    .albums img {
        width: 300px;
    }

}

@media screen and (max-width: 700px) {
    .titlecard {
        background-color: #FC4A1A;
    }
}

@media screen and (max-width: 600px) {
    .albums img {
        width: 250px;
    }
    div.artistinfo > p {
        color: #D4DCE3;
        font-size: 1.4em;
    }
    .artistinfo img {
        width: 250px;
    }
    /*Landing Page*/
    .linktoapp {
        margin: auto 0px;
    }
    .projdescription {
        font-size: 22px;
    }
    .landinglogo img {
        width: 200px;
    }

}

