* {
    box-sizing: border-box;
    font-style: sans-serif;
}

body {
    background-color: #4ABDAC;
    font-family: sans-serif;
}

main {
    margin: auto 0px;
    text-align: center;
}


/*Headers*/

h1, h2 {
    color: #D4DCE3;
}

.showfields {
    font-size: 1.1em;
    color: #ecf5fc;
    font-weight: 900;
}


/*Form*/

form {
    display: inline-block;
}

.userinput {
    width: 200px;
    height: 30px;
    font-size: 20px;
    display: block;
    margin: 0px auto;
}

.submit {
    width: 200px;
    height: 30px;
    display: block;
    border: 0px;
    background: #FC4A1A;
    color: #D4DCE3;
    font-size: 18px;
    margin: auto;
    margin-top: 8px;
}

/*Results*/

/*Artist Bio*/

h2 {
    text-align: center;
}

.artistinfo p {
    color: #D4DCE3;
    font-size: 1.2em;
    text-align: left;
    margin-top: 10px;
}

/*Album List*/

.albums {
    width: 100%;
    display: inline-block; 
    border: 5px solid #FC4A1A;
    margin-top: 50px;
    background-color: #FC4A1A;
    padding: 20px;
}


.album1, .album2, .album3 {
    padding: 0px 10px 0px 10px;
    margin: auto;
}

.albums h2 {
    text-align: center;
}

.albums h3, h4 {
    color: #D4DCE3;
}

img {
    width: 400px;
}

.album1 .ytlabel {
    color: #4ABDAC;
}

.arrow-down, .arrow-down2 {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #D4DCE3;
    display: inline-block;
    margin-left: 10px;
}
.rotated {
    transform: rotate(-90deg);
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #D4DCE3;
    display: inline-block;
    margin-left: 10px;
}

.rotated2 {
    transform: rotate(90deg);
}


/*YouTube Search*/

.youtube-search {
    background-color: #FC4A1A;
}

.searchresults {
    display: none;
}



/*Footer*/

footer {
    background-color: #FC4A1A;
    color: #D4DCE3;
    position: absolute;
    width: 90%;
}

/*Hidden*/

.hidden {
    display: none;
}

@media screen and (max-width: 1000px) {
    .albums img {
        width: 300px;
    }
}

@media screen and (max-width: 600px) {
    .albums img {
        width: 250px;
    }
    div.artistinfo > p {
        color: #D4DCE3;
        font-size: 1.4em;
    }
    .artistinfo img {
        width: 250px;
    }
}
